@font-face {font-family: typewriter; src: url('https://www.1001fonts.com/monospace-font.html?size=-1&page=9');}


* {
    margin: 0px auto;
    color: brown;
    font-size: 25px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace
}

body {
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
  width: 20cm;
}

